/* Style for the room card container */
.room-cards-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

/* Style for individual room cards */
.room-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.room-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.room-card h4 {
    font-size: 18px;
    margin: 10px 0;
}

.room-card p {
    font-size: 14px;
    margin: 10px 0;
}

.room-card form {
    margin-top: 10px;
}

.room-card button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}

.room-card button:hover {
    background-color: #0056b3;
}